<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>T-link</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css">


</head>

<body>
  <header>

    <img class="logo" src="/images/logo.png" alt="logo">

    <div class="busca">
      <label for="site-search">
        <h2>Buscar Serviços ou Produtos</h2>
      </label>

      <input class="tela" type="search" id="site-search" name="q" aria-label="Search through site content">

      <button class="boton">Buscar</button>
    </div>



    <div class="botao">
      <h2>Escolha Seu Estado</h2>

      <select class="estados">

        <option selected disabled>Escolha um estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>

    </div>
  


    <img class="menu" src="/images/menu.png" alt="men">

  </header>
  <img class="banner" src="/images/banner2.gif" alt="bn">
  <main>
<div class="selecionados">
    <h1>SELECIONADOS DAS CATEGORIAS EM DESTAQUE</h1>
</div>
<div class="titulos" >
<span class="textroupa" >Confecções</span>
<span class="textcomida" >Comidas</span>
<span class="textdoce" >Doces</span>
</div>
<div class="container">
    
     <img class="roupa" src="/images/roupa.gif" alt="rou">

    <img class="comida" src="/images/comida.gif" alt="com">

     <img class="doce" src="/images/doce.gif" alt="doc">
       </div>
       <img class="gif" src="/images/tela.gif" alt="gif">
<div class="sebrae">
<img class="selo" src="/images/selo.png" alt="cor">
<img class="logSeb" src="/images/sebrae_mt.png" alt="lg">
</div>

  </main>


  <footer>
    <footer class="footer-container">
      <div class="div1">
          <p class="p1">TLink.com.br</p>
  
          <p class="p-copyright">
              &copy;Copyright 2021 - TLINK - 
              Todos os direitos reservados TLINK com Agência de Divulgação Oline S.A.
          </p>
      </div>

      <nav class="nav">
          <a href="#">Termos e condições de uso</a>
          <a href="#">Código de conduta</a>
          <a href="#">Dicas de segurança</a>
      </nav>

      <div class="onde-estamos">
          <p class="onde-estamos-p1">Onde Estamos</p>
          <p class="onde-estamos-p2">
              Av. do Rio Bonito, 529 - Veieiros, São Paulo - Sp, 04776-000
          </p>
      </div>

    <div class="=icones">
      <img src="/images/4.png" alt="is">
      <img src="/images/5.png" alt="fc">
      <img src="/images/6.png" alt="ld">
    </div>
  </footer>
</body>

</html>
