
  <%- include('parts/head',{title:TLINK});}
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <body>

      <div class="home">
          <%- include('/header.ejs') %>
  </body>
</html>
