<!DOCTYPE html>
<html>
  <head>
    <title><%= Tlink %></title>
    <link rel='stylesheet' href='/css/loja.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
