<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/LOJA.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">
    <title>TLINK - HOME</title>
</head>
<body>
    
    <header>
       
             <img class="logo" src="/images/logo.png" alt="Logo Empresa">
              <h1>Olá, Dona Sônia Lorenzonni! Bem-Vinda a sua lojinha!</h1>
  
               
                   
               
  
      <img class="pin" src="/images/2.png" alt="localização">
                    <span class="local">
                    <p>Nova Venécia</p>
                     <p>29830-000</p>
                    <p>Estado:ES</p>
                       </span>

                
                    <img class="perfil" src="/images/7.png" alt="perf">
                    <img class="menu" src="/images/peq_img.png" alt="men">
                

               
           
</div>
    </header>

    <main>
       
            <div class="box1">
                <img class="chat" src="/images/8.png" alt="chat">
                <h3>Você tem 3 novas mensagens!</h3>
                <div class="box2">
                    <nav>
                         <ul>
                         
                               <li><a href="">Avaliação dos Clientes (35)</a></li>
                               <br>
                               <li> <a href="">Informações da Assinatura</a></li>
                               <br>
                               <li><a href="">Editar o perfil da lojinha</a></li>
                              <br>
                               <li> <a href="/lojinha/maisvendidos">Produtos mais buscados</a></li>
                              <br>
                               <li> <a href="">Cadastrar produtos</a></li>
                         </ul>
                         </nav> 
                            
                            
                            </div>
            </div>
                 
            <div class="container">
            <span class="ranking" >
                <p>Ranking Mensal de Visitas a Lojinha :</p>
            </span>
         
            
                <div class="tab"><img class="tabela" src="/images/tabela.png" alt="tab"></div>
                <div class="set"><img class="seta" src="/images/seta_tab.png" alt="set"></div>
    
    
            <span class="posicao">
            <p>Uma posição a cima em relação ao mês anterior, </p>
        
            <p>15% mais de avaliações positivas, em média </p>
         
            <p>45% dos clientes que acessam a lojinha entram em contato pelo chat</p>
        </span>
       
            </div>    

         