*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
max-width: 100%;
flex-wrap: wrap;
display: flex;
justify-content: space-around;
align-items: center;
background: rgb(94,164,65);
background: linear-gradient(337deg, rgba(94,164,65,1) 2%, rgba(84,149,85,1) 47%, rgba(36,221,97,1) 100%);
font-family: 'Pompiere', cursive;
color: aliceblue;

}






div.busca> label {
  display: block;
  
}
div.busca>input{
  display: inline-block;
}

.tela{
  width: 300px;
}

 .boton{
width: 50px;
  border-radius: 20px 40px 60px 80px;
  background-color: rgba(95, 164, 65, 0.719);
  font-family:'Pompiere', cursive; 
 font-size: 15px;
 box-shadow:0 1px 3px rgba(124, 124, 134, 0.856);
 }
 .estados{
   width: 120px;
   border-radius: 20px 40px 60px 80px;
   box-shadow:1px 3px 3px rgba(124, 124, 134, 0.856);
 background-color: rgba(212, 243, 198, 0.568);
 }




img.banner{
  display: flex;
  width: 100%;
 
}
 .menu{
   width: 40px;
   height: 40px;
  
 }
  

div.container{

margin-left: 220px;
margin-top: 50px;
margin-right: auto;
padding: 20px;
display: flex;
flex-wrap:wrap;
flex-direction: row;
 
}
div.container > .comida{
width: 200px;
height: 200px;
  box-shadow:0 1px 10px rgba(15, 14, 20, 0.856);
 margin-left: 20px;
margin-right: 20px;
}
div.container >.roupa{
  width: 200px;
  height: 200px;
  box-shadow:0 1px 10px rgba(15, 14, 20, 0.856);
}
div.container >.doce{
  width: 200px;
  height: 200px;
  box-shadow:0 1px 10px rgba(15, 14, 20, 0.856);
}
div.selecionados{
display: flex;
  flex-wrap: wrap;
  font-family:'Pompiere', cursive; 

margin-left: 300px;
margin-top: 30px;
}
div.titulos{
 block-size:border-box;
  margin-left: 300px;
 margin-right: 300px;
 margin-top: 100px;
}
.textroupa{
  font-family:'Pompiere', cursive; 
  font-size: 30px;

 

}
.textcomida{

  font-family:'Pompiere', cursive; 
  font-size: 30px;
margin-left: 110px;
}

.textdoce{
  font-family:'Pompiere', cursive; 
  font-size: 30px;
 margin-left: 160px;
 
 
}
div.sebrae{
display: flex;
flex-direction: column;
margin-right: 200px;
margin-bottom: 10px;
align-items:flex-end;
}
.selo{
width:100px;
height: 80px;
}
 
.logSeb{
  width: 120px;
  height: 100px;


}

img.gif{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
margin-left: 450px;
box-shadow:0 1px 10px rgba(15, 14, 20, 0.856);
 
}



footer{
 
  max-width: 100%;
  flex-wrap:wrap;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  background: rgb(94,164,65);
  background: linear-gradient(337deg, rgba(94,164,65,1) 2%, rgba(84,149,85,1) 47%, rgba(36,221,97,1) 100%);
  font-family: 'Pompiere', cursive;
  color: aliceblue;
}