<header>
       
    <img class="logo" src="/images/logo.png" alt="Logo Empresa">
     <h1>Olá, Dona Sônia Lorenzonni! Bem-Vinda a sua Lojinha!</h1>

      
          
      

<img class="pin" src="/images/pin.png" alt="localização">
           <span class="local">
           <p>Nova Venécia</p>
            <p>29830-000</p>
           <p>Estado:ES</p>
              </span>

       
           <img class="perfil" src="/images/perfil.png" alt="perf">
           <img class="menu" src="/images/menu.png" alt="men">
       

      
  
</div>
</header>