<img class="banner" src="images/banner2.gif" alt="bn">
  <main>
<div class="selecionados">
    <h1>SELECIONADOS DAS CATEGORIAS EM DESTAQUE</h1>
</div>
<div class="titulos" >
<span class="textroupa" >Confecções</span>
<span class="textcomida" >Comidas</span>
<span class="textdoce" >Doces</span>
</div>
<div class="container">
    
     <img class="roupa" src="/images/roupa.gif" alt="rou">

    <img class="comida" src="/images/comida.gif" alt="com">

     <img class="doce" src="/images/doce.gif" alt="doc">
       </div>
       <img class="gif" src="/images/tela.gif" alt="gif">
<div class="sebrae">
<img class="selo" src="/images/selo.png" alt="cor">
<img class="logSeb" src="/images/sebrae_mt.png" alt="lg">
</div>

  </main>

