<main>
    <div class="master">
             <div class="box1">
             <img class="chat" src="/images/chat.png" alt="chat">
             <h3>Você tem 3 novas mensagens!</h3>
             </div>
             
             <div class="box2">
             <nav>
             <ul>
                      
             <li><a href="">Avaliação dos Clientes (35)</a></li>
         
             <img  class="estrela" src="/images/estr.png"  alt="est">
             <br> 
             <li> <a href="">Informações da Assinatura</a></li>
             <br>
             <li><a href="">Editar o perfil da lojinha</a></li>
             <br>
             <li> <a href="">Produtos mais buscados</a></li>
             <br>
             <li> <a href="">Cadastrar produtos</a></li>
              </ul>
                </nav> 
                         
                 </div>
      
              
         <div class="container">
         <span class="ranking" >
             <p>Ranking Mensal de Visitas a Lojinha :</p>
         </span>
         </div>
         <div class="nada" ></div>
             <div class="tab"><img class="tabela" src="/images/tabela.png" alt="tab"></div>
             <div class="set"><img class="seta" src="/images/seta_tab.png" alt="set"></div>
 
         <div class="position">
         <span class="posicao">
         <p>Uma posição a cima em relação ao mês anterior, </p>
     
         <p>15% mais de avaliações positivas, em média </p>
      
         <p>45% dos clientes que acessam a lojinha entram em contato pelo chat</p>
     </span>
    </div>
 </div>    

 <div class="vazio"></div>


</main>
  